<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'Blocks/head.html' %}

</head>

<body >
        {% include 'Blocks/header.html' %}
  </header>
  <div class="container">
    <form class="form-signin" id="form-signin" action="" method="post">
      <h1 class="h3 mb-3 font-weight-normal">Добавление задачи</h1>
      <div class="alert alert-danger mt-2 " id="errorBlock" ></div>
      <div class="row">
      <input type="text" name='UserName' id="UserName" class="form-control col-3 ml-3" placeholder="Имя пользователя" required="" autofocus="">
      <input type="email" name='UserMail' id="UserMail" class="form-control ml-4 col-3" placeholder="E-mail" required="" autofocus="">
      <button class="btn btn-primary  col-3 ml-4 " type="button" id="insertTask">Добавить</button>
      {%if coockie != ''%}
      <button type='button' id='editTask' class='editTask btn btn-warning mr-3 ml-auto'><a href="auth.php">Редактировать</a> </button>
      {%endif%}
    </div>
    <textarea class="form-control mt-3" name='taskText' id="taskText" placeholder="Текст задачи" id="task" rows="3"></textarea>
    </form>
    
  <div class="taskList" id="taskList"></div>
  
  
  
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>